---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<div class="publications">

{% for post in site.publications reversed %}

<div class="publication-item">

{% if post.citation %}
  {{ post.citation }}
{% endif %}

{% if post.paperurl %}
  <a href="{{ post.paperurl }}">[PDF]</a>
{% endif %}

{% if post.bibtexurl %}
  <a href="{{ post.bibtexurl }}">[BibTeX]</a>
{% endif %}

{% if post.doi %}
  <a href="https://doi.org/{{ post.doi }}">[DOI]</a>
{% endif %}

</div>

{% endfor %}

</div>


